.button-docs {
  @extend .button;
  border-radius: rem-calc(2px);
  color: white;
  border: 1px solid #1d81c3;
  background: $primary-color;
  text-align: left;

  &:active {
    color: white;
    background: darken($primary-color, 15%);
  }
}

.button-docs.secondary {
  @extend .secondary;
  background: $docs-scaled-color-1;
  color: $docs-scaled-color-8;
  border: 1px solid $docs-scaled-color-4;
  border-radius: 3px;

  &:hover {
    color: $docs-scaled-color-10;
    background: $docs-scaled-color-2;
    border-color: $docs-scaled-color-5;
  }

  &:active {
    // color: white;
    background: $docs-scaled-color-4;
  }
}

.icon-buttons-docs {

  li {
    list-style: none;
    text-align: left;
    // @extend .button-docs.secondary;

    @include breakpoint(medium up) {
      text-align: center;
    }
  }

  li a {
    @extend .button-docs.secondary;
    padding: rem-calc(10px 15px);
    color: $docs-scaled-color-10;
    margin-bottom: rem-calc(15px);
    display: block;
    line-height: 1.2;
  }

  i {
    display: inline-block;

    @include breakpoint(medium up) {
      display: block;
      margin: 0 auto;
    }
  }

}
