.button-docs {
  @extend .button;
  border-radius: rem-calc(2px);
  color: white;
  border: 1px solid #1d81c3;
  background: $primary-color;
  text-align: left;

  &:active {
    color: white;
    background: darken($primary-color, 15%);
  }
}

.button-docs.secondary {
  @extend .secondary;
  background: $docs-scaled-color-2;
  color: $docs-scaled-color-10;
  border-color: $docs-scaled-color-4;

  &:hover {
    color: #545454;
    background: $docs-scaled-color-3;
    // border-color: #bbbbbb;
  }

  // &:active {
  //   color: white;
  //   background: #cacaca;
  // }
}

.icon-buttons-docs {

  li {
    list-style: none;
    text-align: left;

    @include breakpoint(medium up) {
      text-align: center;
    }
  }

  li a {
    padding: rem-calc(10px 15px);
    color: $docs-scaled-color-10;
    background: $docs-scaled-color-2;
    border: 1px solid $docs-scaled-color-6;
    display: block;
    width: 100%;
    border-radius: 2px;
    margin-bottom: rem-calc(15px);
    line-height: 1.2;
  }

  i {
    display: inline-block;

    @include breakpoint(medium up) {
      display: block;
      margin: 0 auto;
    }
  }

}
