// Styles for code examples are here.

// Variables
$docs-code-background-color: #384951;
$docs-code-padding-vertical: 1rem;
$docs-code-padding-horizontal: 1.5rem;
$docs-code-border-color: #dbdbdb;
$docs-code-saturation: 10%;
$docs-code-lightness: 50%;

// Custom Font
// via https://github.com/adobe-fonts/source-code-pro
@font-face{
	font-family: 'SourceCodePro';
	src: url('../../assets/fonts/source-code-pro/SourceCodePro-Regular.eot');
	src: url('../../assets/fonts/source-code-pro/SourceCodePro-Regular.eot?#iefix') format('embedded-opentype'),
	url('../../assets/fonts/source-code-pro/SourceCodePro-Regular.woff') format('woff'),
	url('../../assets/fonts/source-code-pro/SourceCodePro-Regular.ttf') format('truetype'),
	url('WebFont.svg#webfont') format('svg');
}

// The inline code snippets
code {
	font-family: "SourceCodePro", Consolas, "Liberation Mono", Courier, monospace;
	color: #0a0a0a;
	background-color: $docs-scaled-color-1;
	border: 1px solid $docs-scaled-color-4;
	padding: 0.125rem 0.3125rem 0.0625rem;
}

.docs-code-container {
	border: 1px solid $docs-code-border-color;
	margin-bottom: rem-calc(40px);
	border-radius: rem-calc(3px);
	overflow: hidden;
	position: relative;
}

.docs-code,
pre {
	position: relative;

	// Standard Code UI
	code {
		display: block;
		overflow-x: auto;
		background: $docs-code-background-color;
		border: 0;
		border-top: none;
		// padding: $docs-code-padding;
		color: white;

		// Selected text
		&::selection, span::selection {
			background: scale-color($primary-color, $saturation: -40%, $lightness: 50% ); // c5d9e9
			color: white;
			text-shadow: 0 1px 0 rgba(#000, 0.5);
		}
	}

	.docs-reference & code {
		padding: 0.75rem;
		margin-bottom: 0.75rem;
	}
}

.docs-code.kitchen-sink {
	border: $code-border;
	max-height: 300px;
	overflow-y: scroll;
	margin-bottom: 1rem;

	code {
		border: 0;
	}
}

// Dark Code UI
.docs-code .bash {
	color: #000;
	border-color: #000;
	background: #fff;
	position: relative;

	&::before {
		content: '$ | ';
		color: #AFAFAF;
	}

	// Copy button in Dark UI
	& + .docs-code-copy {
		background: #616161;
		color: #CFCFCF;
	}
}

.docs-code-live {
	background: white;
	border-bottom: 1px solid $docs-code-border-color;
	padding: $docs-code-padding-vertical $docs-code-padding-horizontal;

	.button {
		margin-bottom: 0;
	}
}

// Styles for the copy button shown on every code sample
.docs-code-copy {
	@extend .button-docs.secondary;
	position: absolute;
	top: 0.75rem;
	right: rem-calc(20px);
	background: #EBEBEB;
	border-radius: rem-calc(3px);
	color: #838383;
	font-size: 0.8rem;
	padding: 0.75rem 1rem;
	z-index: 1;
	user-select: none;
	transition: all 150ms ease-in-out;

	&:hover,
	&.zeroclipboard-is-hover {
		box-shadow: 0 3px 15px rgba(#000, 0.5);
	}

	&:active {
		box-shadow: 0 1px 10px rgba(#000, 0.3);
	}

}

.docs-code-iframe {
	width: 100%;
	border: 0;
	border-bottom: 1px solid #cacaca;
	outline: 0;
	margin-bottom: -6px;
	height: 200px;
}

.docs-code-demo-title {
	margin-top: rem-calc(40px);
	margin-bottom: 4px;
	font-size: 0.9rem;
}

.docs-code-language {
	color: #fff;
	margin-right: 1rem;
	font-size: 0.9rem;
	margin-bottom: 0.5rem;
	display: inline-block;
	text-transform: uppercase;
	border-bottom: 1px solid white;
	border-radius: 2px;
	padding: 3px 8px;
	user-select: none;
}

.docs-code-toggle {
	font-weight: bold;
	display: inline;
	color: #959595;
	font-size: 0.9rem;
	margin-bottom: 0.5rem;
	user-select: none;

	&:focus {
		outline: none;
	}
}

.docs-code-wrapper {
	background: $docs-code-background-color;
	padding: $docs-code-padding-vertical $docs-code-padding-horizontal;

	.docs-code {
		clear: both;
	}
}

.docs-code-inky {
	display: none;
}

.is-inky-enabled {
	.docs-code-inky {
		display: block;
	}

	.docs-code-html {
		display: none;
	}
}

.global-zeroclipboard-container {
	z-index: auto !important;
}

// Correct line-height overlap for inline code snippets
p code,
ol code,
li code,
.callout code {
	line-height: $global-lineheight + rem-calc(10px);
}




/* Code Theme: ZURB */
/* Original: Tomorrow Night Theme */
/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */

// More themes: https://github.com/isagalaev/highlight.js/tree/master/src/styles
// And their examples: https://highlightjs.org/static/demo/


/* Comment */
.hljs-comment,
.hljs-quote {
	color: #a4a4a4;
}

/* Framework Color */
.hljs-variable,
.hljs-template-variable,
.hljs-tag,
.hljs-name,
.hljs-selector-id,x
.hljs-selector-class,
.hljs-regexp,
.hljs-deletion {
	color: scale-color($primary-color, $saturation: $docs-code-saturation, $lightness: $docs-code-lightness);
}

/* Terminal Commands */
.hljs-number,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params,
.hljs-meta,
.hljs-link {
	color: scale-color(#18b9f6, $saturation: $docs-code-saturation, $lightness: $docs-code-lightness);
}

/* Tomorrow Yellow */
.hljs-attribute {
	color: scale-color(#f0c674, $saturation: $docs-code-saturation, $lightness: $docs-code-lightness);
}

/* Tomorrow Green */
.hljs-string,
.hljs-symbol,
.hljs-bullet,
.hljs-addition {
	color: scale-color(#b7d500, $saturation: $docs-code-saturation, $lightness: $docs-code-lightness);
	// b5bd68
}

/* Tomorrow Blue */
.hljs-title,
.hljs-section {
	color: scale-color(#81a2be, $saturation: $docs-code-saturation, $lightness: $docs-code-lightness);
}

/* Tomorrow Purple */
.hljs-keyword,
.hljs-selector-tag {
	color: scale-color(#b294bb, $saturation: $docs-code-saturation, $lightness: $docs-code-lightness);
}

.hljs {
	display: block;
	overflow-x: auto;
	background: scale-color(#1d1f21, $saturation: $docs-code-saturation, $lightness: $docs-code-lightness);
	color: #c5c8c6;
	padding: 0.5em;
}

.hljs-emphasis {
	font-style: italic;
}

.hljs-strong {
	font-weight: bold;
}
