.docs-compat-table {
  width: 100%;
  background: transparent;
  margin-bottom: 2rem;

  tbody {
    border-color: $medium-gray;
  }

  tr {
    border-bottom: 1px solid $docs-scaled-color-5;
  }

  tr,
  tr:nth-child(even) {
    background: transparent;
  }

  tr:nth-child(even) td:first-child {
    background: $docs-scaled-color-1;
  }

  td:first-child {
    border-right: 1px solid $medium-gray;
  }

  .works {
    background: $docs-green;
    color: #fff;
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;

    &::before {
      display: inline-block;
      content: '✔';
      margin-right: 0.5rem;
    }
  }
}
