// Docs Icons
// .di-

.di-margin-left:before {
  margin-left: 7px;
}

.di-margin-right:before {
  margin-right: 7px;
}

.di-pin {
  &:before {
    content:"";
    background-image: url('../../assets/icons/pin.svg');
    background-size: 13px 15px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 15px;
    height: 14px;
    float: left;
    line-height: inherit;
  }
}

.di-open {
  &:before {
    content:"";
    background-image: url('../../assets/icons/open.svg');
    background-size: 10px 10px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 11px;
    height: 14px;
    float: left;
    line-height: inherit;
  }
}

.di-arrow-left {
  &:before {
    content:"";
    background-image: url('../../assets/icons/arrow-left.svg');
    background-size: 11px 14px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 16px;
    height: 15px;
    float: left;
    line-height: inherit;
  }
}

.di-arrow-left-white {
  &:before {
    @extend .di-arrow-left;
    background-image: url('../../assets/icons/arrow-left-white.svg');
  }
}

.di-arrow-right {
  &:before {
    content:"";
    background-image: url('../../assets/icons/arrow-right.svg');
    background-size: 11px 14px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 16px;
    height: 15px;
    float: right;
    line-height: inherit;
  }
}

.di-arrow-right-white {
  &:before {
    @extend .di-arrow-right;
    background-image: url('../../assets/icons/arrow-right-white.svg');
  }
}
