// Contains styles for the Github Recent Activity and Github Help Wanted componenets

// Help Wanted
.github-help-wanted {
  .github-help-wanted-issue {
    border-left: 3px solid blue;
    padding-left: 10px;
  }

  .easy.github-help-wanted-issue {
    border-color: $docs-green;
  }

  .medium.github-help-wanted-issue {
    border-color: $docs-yellow;
  }

  .hard.github-help-wanted-issue {
    border-color: $docs-red;
  }
}

// Recent Activity
.github-recent-activity {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;

    li {
      margin: 10px auto;
      color: $medium-gray;
      vertical-align: baseline;
      line-height: $global-lineheight;

      &:first-child {
        margin-top: 0;
      }
    }

    span {
      vertical-align: baseline;
      line-height: $global-lineheight;
      display: inline-block;
    }

    img {
      margin-right: rem-calc(10px);
      display: inline-block;
    }

    a {
      color: $secondary-color;
      line-height: $global-lineheight;
      vertical-align: baseline;
    }

    .github-recent-activity-date {
      font-size: rem-calc(13px);
      float: right;
      padding: rem-calc(3px);
      line-height: $global-lineheight;
      vertical-align: baseline;
    }
  }
}
