.docs-notice-added {
  position: absolute;
  top: 0;
  right: 0;
  font-weight: bold;
  color: $warning-color;
  font-size: 0.8rem;
  line-height: 2.8; // Aligns the text with the section title
}

.docs-notice-deprecated {
  @extend .docs-notice-added;
  color: $alert-color;
}

// [TODO] Make class more specific
.docs-deprecated {
  opacity: 0.25;
  transition: opacity 0.1s ease-out;

  &:hover {
    opacity: 1;
  }
}

// Callouts
.callout {
    margin: 0 0 1rem 0;
    padding: 0.5rem 1rem;
    border: 0;
    border-left: 3px solid #FFDD5E;
    border-radius: 0;
    position: relative;
    color: #0a0a0a;
    background-color: white;

    code {
      line-height: rem-calc(30px);
    }
}

.callout.primary {
    @extend .callout;
    background-color: white;
    border-color: #FFDD5E;

    &:before {
      content: 'Heads up!';
      color: #8F8F8F;
    }
}
