// Pin Component
// Allows users to pin pages to the left sidebar

.pins-component {
  margin-bottom: 1rem;
}

.pin-button {
  color: $primary-color;
  padding: 2px 15px;
  display: inline-block;
  font-size: 13px;
  margin-right: 10px;
  font-weight: bold;

  @include breakpoint(small only) {
    padding: 1rem;
    width: 100%;
  }

  &:hover {
    color: $docs-scaled-color-7;
    cursor: pointer;
  }

  &:active {
    color: $docs-scaled-color-10;
  }

  // &::before {
  //   content: url('../../assets/icons/pin.svg');
  // }

} // end pin-button

.pin-list {
  border: 1px solid $docs-scaled-color-4;
  border-radius: 3px;
  font-size: rem-calc(15px);
  margin: 2px $docs-sidebar-inner-spacing 0.25rem $docs-sidebar-inner-spacing;
  background: $docs-scaled-color-1;
  max-height: 218px;
  overflow: auto;
  user-select: none;

  p {
    color: $docs-scaled-color-8;
    padding: 10px;
    margin: 0 auto;
    line-height: 1.4;
  }

  .pin-list-item {
    position: relative;

    &:hover {
      .delete-pin {
        display: inline-block;
        position: absolute;
        line-height: 20px;
        @include vertical-center;
        right: 5px;
        color: $docs-scaled-color-4;
        background: white;
        padding: rem-calc(2px 8px);
        border-radius: 2px;
        border: 1px solid $docs-scaled-color-4;
        opacity: 0.9;

          @include breakpoint(small only) {
            right: 15px;
          }

          &:hover {
            color: $docs-scaled-color-8;
            background: $docs-scaled-color-1;
            border: 1px solid $docs-scaled-color-8;
            box-shadow: 0 1px 3px rgba(#000, 0.3);
            opacity: 1;
            cursor: pointer;
          }

          &:active {
            color: white;
            background: $docs-scaled-color-8;
          }
      }
    }

    a {
      display: block;
      color: $dark-gray;
      padding: rem-calc(8px 10px);
      border-bottom: 1px solid $docs-scaled-color-3;

      @include breakpoint(small only) {
        padding: rem-calc(14px 15px);
      }

      &:hover {
        color: $docs-scaled-color-9;
        background-color: $docs-scaled-color-2;
      }

      &:active {
        color: white;
        background: $docs-scaled-color-4;
      }
    }

    // Pin Icon
    & a:before {
      margin-right: rem-calc(10px);
      content:"";
      background-image: url('../../assets/icons/pin.svg');
      background-size: 13px 15px;
      background-repeat: no-repeat;
      display: inline-block;
      width: 15px;
      height: 14px;
    }
  }

  .delete-pin {
    display: none;
  }

} // end pin-list
