// Pin Component
// Allows users to pin pages to the left sidebar

.pins-component {
  margin-bottom: 1rem;
}

.pin-button {
  color: $docs-scaled-color-10;
  // background: $docs-scaled-color-10;
  // border-radius: 3px;
  // height: auto;
  padding: 5px 15px;
  font-size: 13px;
  // display: block;
  text-align: center;

  &:hover {
    // background: #CACACA;
    color: $docs-scaled-color-7;
    cursor: pointer;
  }

  &:active {
    color: $docs-scaled-color-10;
  }

  // &::before {
  //   content: url('../assets/icons/pin.svg');
  // }

} // end pin-button

.pin-list {
  // padding-left: 0.9rem;
  margin-bottom: 0.5rem;
  border: 1px solid $docs-scaled-color-3;
  border-radius: 3px;
  // padding: rem-calc(10px 5px);
  font-size: rem-calc(15px);
  margin-right: 10px;
  background: $docs-scaled-color-1;

  .pin-list-item {
    // padding: rem-calc(5px 0);

    a {
      display: block;
      color: $dark-gray;
      padding: rem-calc(8px 10px);

      &:hover {
        color: $primary-color;
      }

      &:active {
        background: $docs-scaled-color-2;
      }
    }

    & a:before {
      content: '\f2a6';
      color: $dark-gray;
      margin-right: rem-calc(10px);
    }
  }

} // end pin-list
