.docs-related {

  .docs-related-cover {
    max-height: 150px;
    overflow: hidden;
    margin-bottom: rem-calc(15px);

    @include breakpoint(medium up) {
      max-height: 200px;
    }

    @include breakpoint(large up) {
      max-height: 250px;
    }

    img {
      min-width: 100%;
    }
  }


  li {
    list-style: none;
    margin: rem-calc(2px 0);
  }

}
