// Contains the left sidebar: pinned pages, navigation, and the ad space.

.docs-sidebar {
  margin-top: 1rem;
  border-right: 1px solid #f1f1f1;
  // padding-right: 5px;

  .docs-sidebar-label {
    color: #B5B5B5;
    font-size: 0.8rem;
    display: inline;
    vertical-align: bottom;
  }
  .docs-sidebar-collapse-button {
    color: #B5B5B5;
    font-size: 0.8rem;
    display: inline;
    float: right;
    vertical-align: bottom;
  }

  &.sticky.is-stuck.is-at-top {
    // height: 60vh;
    // overflow: auto;
    margin-top: $docs-header-height!important; // was being overridden in HTML
  }
}

.docs-nav.menu {
  // margin-top: 0.5rem;
  margin-top: 0.25rem;
  padding-bottom: 1rem;

  li small {
    color: #999;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 60%;
    display: block;
    margin-top: 5px;
  }

  a {
    font-size: 0.9rem;
    padding: 0.5rem 0;
    padding-left: 0.9rem;
    line-height: 1.4;
    color: #616161;
    display: block;

    &:hover {
      background: #fafafa;
    }
  }

  .current a {
    color: #000;
    background: $docs-scaled-color-1;
    border-right: 1px solid $docs-scaled-color-5;
  }

  .label {
    background-color: #ddd;
    color: #777;
    margin-left: 5px;
    padding: 0.22222rem 0.44444rem 0.22222rem;
    font-size: 0.61111rem;
  }
}

.docs-nav-title {
  text-transform: uppercase;
  font-size: 0.75rem;
  color: #454545;
  font-weight: 700;
  letter-spacing: 0.08rem;
  line-height: 1;
  margin-bottom: 0.5rem;
  border-top: 1px solid #e9e9e9;
  border-bottom: 1px solid #e9e9e9;
  padding: 1rem 0.9rem 1rem 0;
  margin-top: 1rem;

  &:first-child {
    margin-top: 0;
  }
}

.docs-nav-version {
  padding-left: 0.9rem;
  font-weight: bold;
  font-size: 0.75rem;
  margin-bottom: -0.5rem;
  margin-top: -0.4rem;

  .menu & a {
    margin-left: 6px;

    &:hover {
      background: transparent;
    }
  }
}
