// Contains the left sidebar: pinned pages, navigation, and the ad space.

$docs-sidebar-inner-spacing: 12px;

.docs-sidebar {
  margin-top: 1rem;
  border-right: 1px solid #f1f1f1;
  background: $docs-scaled-color-2;
  border: 1px solid $docs-scaled-color-4;
  border-radius: 3px;

  @include breakpoint(small only) {
    font-size: 1rem;
  }

  .docs-sidebar-label {
    color: #656565;
    font-size: 0.7rem;
    display: inline-block;
    // vertical-align: bottom;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 10px $docs-sidebar-inner-spacing 3px;
    line-height: 20px;
  }

  .docs-sidebar-collapse-button {
    color: #B5B5B5;
    font-size: 0.8rem;
    line-height: 20px;
    display: inline-block;
    float: right;
    padding-top: 10px;
    padding-right: $docs-sidebar-inner-spacing;

    &:hover {
      cursor: pointer;
    }

    &:before {
      content:"";
      background-image: url('../../assets/icons/collapse.svg');
      background-size: 15px 16px;
      background-repeat: no-repeat;
      display: inline-block;
      width: 16px;
      height: 13px;
    }

    // @TODO: Clicked State
    // .collapsed { background-image: url('../../assets/icons/expand.svg'); }
  }

  &.sticky.is-stuck.is-at-top {
    // height: 60vh;
    // overflow: auto;
    margin-top: $docs-header-height!important; // was being overridden in HTML
  }
}

.docs-nav.menu {
  margin-top: 0.25rem;
  padding-bottom: 1rem;

  li small {
    color: #999;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 60%;
    display: block;
    margin-top: 5px;
  }

  a {
    font-size: 0.9rem;
    padding: 0.5rem 0;
    padding-left: ($docs-sidebar-inner-spacing + 5px);
    line-height: 1.4;
    color: #616161;
    display: block;

    &:hover {
      background: $docs-scaled-color-3;
    }

    @include breakpoint(small only) {
      font-size: 1rem;
    }

  }

  .current a {
    color: #000;
    background: $docs-scaled-color-1;
  }

  .label {
    background-color: $docs-scaled-color-1;
    color: #6c6c6c;
    margin-left: 5px;
    padding: 0.25rem 0.4rem;
    font-size: 0.6rem;
  }

}

.docs-nav-title {
  text-transform: uppercase;
  font-size: 0.75rem;
  color: #454545;
  font-weight: 700;
  letter-spacing: 0.08rem;
  line-height: 1;
  border-top: 1px solid $docs-scaled-color-4;
  border-bottom: 1px solid $docs-scaled-color-4;
  padding: 1rem $docs-sidebar-inner-spacing 1rem 0;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
  vertical-align: middle;

  @include breakpoint(small only) {
    font-size: 0.8rem;
  }

  &:first-child {
    margin-top: 0;
  }

  .sidebar-icon {
    margin-left: $docs-sidebar-inner-spacing;
    margin-right: 4px;
    line-height: 1.4;
    vertical-align: middle;
    height: 20px;
    margin-top: -3px;
  }

}

.docs-nav-version {
  // padding-left: 0.9rem;
  font-weight: bold;
  font-size: 0.75rem;
  margin-bottom: -0.5rem;
  margin-top: -0.4rem;

  .menu & a {
    margin-left: 6px;

    &:hover {
      background: transparent;
    }
  }
}
