// Table of contents which becomes anchored to the top of each page

.docs-toc {
  margin: 1.5rem auto -3rem;
  // border-bottom: 1px solid $light-gray;
  font-size: 0.85rem;
  display: block!important;

  .active {
    background: white;
    color: $primary-color;
    padding: 5px 10px;
    border-radius: 3px;
  }

  .menu .docs-nav-title {
    margin-top: 0;
    border-top: 0;
    padding-top: 0;
    display: block;
  }

  ul {
    padding: 0;
    margin: 0;
  }

  li {
    margin: rem-calc(5px 10px);
    line-height: $global-lineheight;
    padding: 0;
    display: inline-block;
    font-size: rem-calc(16);

    &:first-child {
      margin-left: 0;
    }
  }
}

.foundation-toc-ad-unit {
  > div {
    padding: 5px;
    border: 1px solid #cacaca;
  }
}

.docs-toc-wrap {
  width: 100%;

  &.is-stuck {
    margin-top: 0!important;
  }
}

.docs-toc-wrap.is-stuck .docs-toc {
  // max-height: calc(100vh - 1rem);
  // overflow-y: auto;
  width: 100%;
  margin: 0;
  background: #F0F0F0;
}
