// Table of contents which becomes anchored to the top of each page

.docs-toc {
  margin: 1.5rem auto -3rem;
  // border-bottom: 1px solid $light-gray;
  font-size: 0.8rem;
  display: block!important;
  border: 1px solid transparent;
  position: relative;

  .menu .docs-nav-title {
    margin-top: 0;
    border-top: 0;
    padding-top: 0;
    display: block;
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
  }

  li {
    margin: rem-calc(6px 15px);
    line-height: $global-lineheight;
    padding: 0;
    display: inline;
    font-size: rem-calc(16);

    &:first-child {
      margin-left: 0;
    }
  }
}

.foundation-toc-ad-unit {
  > div {
    padding: 5px;
    border: 1px solid #cacaca;
  }
}

.docs-toc-wrap {
  width: 100%;

  &.is-stuck {
    margin-top: 0!important;
    // position: fixed;
    // left: 0!important;
    // max-width: 100%!important;
  }
}

.docs-toc-wrap.is-stuck .docs-toc {
  // max-height: calc(100vh - 1rem);
  // overflow-y: auto;
  width: 100%;
  margin: 0;
  margin-top: $docs-header-height;
  background: $docs-scaled-color-1;
  box-shadow: 2px 3px 5px 0px rgba(145, 145, 145, 0.62);
  padding: rem-calc(2px 15px);


  li {
    margin: rem-calc(6px 5px);
    display: inline-block;
    font-size: rem-calc(14);
  }

  li a {
    border: 1px solid transparent;
    padding: 5px 5px;
    color: $docs-scaled-color-8;
  }

  .active {
    background: white;
    color: $primary-color;
    border: 1px solid $primary-color;
    padding: 5px 5px;
    border-radius: 3px;
  }

  .subtitle {
    display: none;
  }
}
