// Specific text uses Proxima Nova instead of the framework's default of Helvetica Neue. We should only apply Proxima Nova to docs-specific elements, like section titles, and never to elements of the framework itself.

.docs-header,
.docs-site-title,
.docs-page-title,
.docs-page-lead,
.docs-heading,
.docs-nav,
.docs-toc,
.docs-sub-menu,
.docs-big-index strong,
.docs-small-index h4,
.twitter-typeahead,
.banner-info,
.banner-info h3 {
  font-family: "Proxima Nova", proxima-nova, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a > code {
  background: transparent;
  border: 0;
  padding: 0;
  color: $primary-color;
}


.subheader {
  color: #848484;
  // font-size: 80%;
}

// Prettify the subtitles when they're below headings
h1 + .subheader {
  margin-top: -1rem;

  @include breakpoint(small only) {
    margin-top: -0.5rem;
  }
}

h2 + .subheader {
  margin-top: -0.5rem;
  line-height: 1.3;

  @include breakpoint(small only) {
    margin-top: 0.3rem;
  }
}

h3 + .subheader {
  margin-top: -1rem;

  @include breakpoint(small only) {
    margin-top: 0rem;
  }
}


section.docs {
  .subheader {
    margin-bottom: 3rem;

    @include breakpoint(medium down) {
      margin-bottom: 2rem;
    }
  }
}



.subtitle {
  color: #848484;
  font-size: 80%;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

h1.docs-heading {
}
h2.docs-heading {
  font-weight: 300;
}
h3.docs-heading {}
h4.docs-heading {}
h5.docs-heading {}

p,
li,
ol {
  line-height: 1.65;
}


// Steps
// Used on Installation page
.steps {

  margin-top: rem-calc(20px);

  h4 {
    display: inline-block;
    // float: left;

    &:before {
      display: block;
      width: 100%;
      float: right;
    }
  }

  .indented {
    margin-left: 2rem;
  }

  // Generate steps divs
  @for $i from 1 through 15 {
    .step-#{$i} {
      margin-top: rem-calc(20px);
    }
  }

  .step-1 {
    margin-top: 0;
  }


  // Create numbers next to the steps
  // 15 is just an est. max that would ever need to appear
  @for $i from 1 through 15 {
    .step-#{$i}:before {
      @extend h4;
      color: $medium-gray;
      content: '#{$i}';
      display: inline-block;
      float: left;
      width: 1rem;
      // width: 30px;
      margin-right: 1rem;
    }

  }

} // end .steps




// Mobile Sizes

@include breakpoint(small only) {

  h1 {
    font-size: rem-calc(29px);
  }

  h2 {
    font-size: rem-calc(26px);
  }

  h3 {
    font-size: rem-calc(24px);
  }

  h4 {
    font-size: rem-calc(20px);
  }

  h5 {
    font-size: rem-calc(20px);
  }

  h6 {
    font-size: rem-calc(20px);
  }

  p,
  ul,
  ol,
  li {
    font-size: rem-calc(17px);
  }

}
