// Work in Progress
// This file contains classes and components that aren't yet ready to be moved.

// Next/Previous links
.next-previous-links {
  width: 100%;
  margin-bottom: 4rem;

  &:after {
    @include clearfix;
  }

  span {
    display: block;
  }

  .previous-page-link, .next-page-link {
    display: inline-block;
    padding: rem-calc(10px 15px);
  }

  .previous-page-link a, .next-page-link a {
    transition: all 100ms ease-in-out;
    font-size: rem-calc(20px);
    color: black;

    &:hover {
      color: $primary-color;
    }
  }

  .previous-page-link {
    a:before {
      @extend .di-arrow-left;
      // position: absolute;
      left: -10px;
      margin-right: 10px;
      margin-top: 8px;
    }
  }

  .next-page-link {
    float: right;
    text-align: right;

    a:before {
      @extend .di-arrow-right;
      float: right;
      // position: absolute;
      right: -10px;
      margin-left: 10px;
      margin-top: 8px;
    }
  }

  i {
    color: black;
  }

}

// Horizontal Rule
hr {
  border-bottom: 1px solid $light-gray;
  margin: rem-calc(60px) auto;
}

hr.docs-hr-small {
  margin: rem-calc(30px) auto rem-calc(15px);
}


// Requirement labels ("Requires a JS library")
.docs-requirement-labels {
  display: block;

  .label {
    margin: 0;
    border-radius: 2px;
  }
}


// Adds spacing between columns when they're stacked
.docs-stacked-spacing {

  @include breakpoint(medium down) {
    &:before {
      content: '';
      border-bottom: 1px solid $light-gray;
      margin: rem-calc(60px) auto;
      margin-top: rem-calc(3rem);
      display: block;
    }
  }
}


// Fix for marketing navigation overlap
.marketing-topbar .dropdown.menu .submenu, .marketing-topbar .dropdown.menu .submenu li {
  z-index: 10001;
}


//

.docs-list-info {
  li a {
    font-weight: bold;
  }

  li p {

  }
}
