// Work in Progress
// This file contains classes and components that aren't yet ready to be moved.

// Next/Previous links
.next-previous-links {
  width: 100%;

  &:after {
    @include clearfix;
  }

  a {
    color: black;
  }

  .previous-page-link {
    display: inline-block;
  }

  .next-page-link {
    float: right;
    display: inline-block;
  }

  i {
    color: black;
  }

}

// Horizontal Rule
hr {
    border-bottom: 1px solid $light-gray;
    margin: rem-calc(60px) auto;
}
