// Work in Progress
// This file contains classes and components that aren't yet ready to be moved.

// Next/Previous links
.next-previous-links {
  width: 100%;
  margin-bottom: 4rem;

  &:after {
    @include clearfix;
  }

  span {
    display: block;
  }

  a {
    color: black;
    font-size: rem-calc(18px);
  }

  .previous-page-link {
    display: inline-block;

     a:before {
       content: '\f108';
       margin-right: 10px;
     }
  }

  .next-page-link {
    float: right;
    display: inline-block;
    text-align: right;

      a:after {
        content: '\f10b';
        margin-left: 10px;
      }
  }

  i {
    color: black;
  }

}

// Horizontal Rule
hr {
    border-bottom: 1px solid $light-gray;
    margin: rem-calc(60px) auto;
}
