<div data-sticky-container>

  <header class="docs-header expanded row align-middle" data-sticky data-anchor="docs" data-sticky-on="medium">

    <div class="medium-2 columns">
      <div class="framework-mascot-container">
        {{#ifequal global.framework.type 'sites' }}
          <img src="assets/img/yeti.svg" class="framework-mascot" data-pin-nopin="true" />
        {{/ifequal}}
        {{#ifequal global.framework.type 'emails' }}
          <img src="assets/img/inky.svg" class="framework-mascot" data-pin-nopin="true" style="height: 4.6rem;" />
        {{/ifequal}}
      </div>

      <div class="docs-header-label">
        <a href="index.html">
          {{#if global}}
            {{#ifequal global.framework.type 'sites' }}
              <span class="gray">Foundation</span><span class="dark">for Sites {{global.framework.version}}</span>
            {{/ifequal}}
            {{#ifequal global.framework.type 'emails' }}
              <span class="gray">Foundation</span><span class="dark">for Emails {{global.framework.version}}</span>
            {{/ifequal}}
          {{/if}}
        </a>
      </div>
    </div>

    <div class="medium-7 columns">

      <div class="docs-search-container">
        <input type="text" class="docs-search" data-docs-search placeholder="Find a page, component, variable, mixin, function..." tabindex="1">
      </div>

    </div>
    <div class="medium-3 columns">

      <div class="docs-header-buttons">

        <ul class="recently-viewed dropdown menu docs-dropdown docs-dropdown-right" data-dropdown-menu>
          <li>
            <a href="#">Recently viewed</a>
            <ul class="menu recently-viewed-items" data-recently-viewed>
              <li class="recently-viewed-item"><a href="">Pages you view will show up here.</a></li>
            </ul>
          </li>
        </ul>

      </div>

    </div>

  </header>

</div>
