<div data-sticky-container>

  <header class="docs-header expanded row" data-sticky data-anchor="docs" data-sticky-on="medium">

    <div class="medium-2 columns">
      <div class="framework-mascot-container">
        <img src="assets/img/yeti.svg" class="framework-mascot" data-pin-nopin="true" />
      </div>

      <div class="docs-header-label">
        <span class="gray">Foundation</span><span class="dark">for Sites 6.0</span>
      </div>
    </div>

    <div class="medium-10 columns">

      <input type="text" class="docs-search" data-docs-search placeholder="Find a page, component, variable, mixin, function...">

      <div class="docs-header-buttons">
        <div class="pin-button" data-pin-page>
          <i class="fi-clock"></i> Pin to sidebar
          <!-- if isPinned -->
          <!-- x Remove from sidebar -->
          <!-- end if isPinned -->
        </div>

        <div class="recently-viewed" data-toggle="recently-viewed-items">
          <i class="fi-clock"></i> Recently viewed</a>
          <ul class="recently-viewed-items" id="recently-viewed-items" data-recently-viewed data-toggler=".is-Visible">
            <li class="recently-viewed-item">
              <a href="#">Pages you view will show up here.</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </header>

</div>
