<div data-sticky-container>

  <header class="docs-header expanded row" data-sticky data-anchor="docs" data-sticky-on="medium">

    <div class="medium-2 columns">
      <div class="docs-header-label">Foundation for Sites 6.0</div>
    </div>

    <div class="medium-7 columns">
      <input type="text" class="docs-search" data-docs-search placeholder="Find a page, component, variable, mixin, function...">
    </div>

    <div class="medium-3 columns">
      <div class="docs-header-buttons">
        <a class="pin-button" data-pin-page>
          <i class="fi-clock"></i> Pin Page
          <!-- if isPinned -->
          <!-- x Unpin Page -->
          <!-- end if isPinned -->
        </a>

        <div class="recently-viewed" data-toggle="recently-viewed-items">
            <i class="fi-clock"></i> Recents</a>
            <ul class="recently-viewed-items" id="recently-viewed-items" data-recently-viewed data-toggler=".is-Visible">
              <li class="recently-viewed-item">
                <a href="#">Item</a>
              </li>
            </ul>
        </div>
      </div>
    </div>

  </header>

</div>
