<div class="docs-examples small-up-2 medium-up-5 large-up-5">
  <h2 id="examples">Examples</h2>
  <p>Get inspired by the Foundation community to see what you can do with this component in your own work.</p>

  <div class="column">
    <img src="http://placehold.it/300x300" alt="" />
  </div>
  <div class="column">
    <img src="http://placehold.it/300x300" alt="" />
  </div>
  <div class="column">
    <img src="http://placehold.it/300x300" alt="" />
  </div>
  <div class="column">
    <img src="http://placehold.it/300x300" alt="" />
  </div>
  <div class="column">
    <img src="http://placehold.it/300x300" alt="" />
  </div>
  <div class="column">
    <img src="http://placehold.it/300x300" alt="" />
  </div>
  <div class="column">
    <img src="http://placehold.it/300x300" alt="" />
  </div>
  <div class="column">
    <img src="http://placehold.it/300x300" alt="" />
  </div>
  <div class="column">
    <img src="http://placehold.it/300x300" alt="" />
  </div>
  <div class="column">
    <img src="http://placehold.it/300x300" alt="" />
  </div>
</div>
