<div class="github-help-wanted">
  <h2>Help Wanted</h2>
  <p>Tackle a Github issue to participate in the Foundation community.</p>
  <hr>
  <div class="card-container-docs row">
    <div class="medium-4 columns">
      <div class="card-docs">
        <i class="fi-star"></i> <span>Easy</span>
        <p>Flex grid column alignment classes missing breakpoints</p>
        <a href="#" class="button-docs expanded">View on Github</a>
      </div>
    </li>
  </div>
  <div class="medium-4 columns">
    <div class="card-docs">
      <i class="fi-star"></i><i class="fi-star"></i> <span>Medium</span>
      <p>Combined Column/Row is missing for Flex Grid (mixin as well)</p>
      <a href="#" class="button-docs expanded">View on Github</a>
    </div>
  </li>
  </div>
  <div class="medium-4 columns">
    <div class="card-docs">
      <i class="fi-star"></i><i class="fi-star"></i><i class="fi-star"></i> <span>Hard</span>
      <p>Magellan doesn't work as expected when the links are not in the same order as the targeted styles</p>
      <a href="#" class="button-docs expanded">View on Github</a>
    </div>
  </div>
  </div>
<a href="#">View all Issues on Github</a>
</div>
