<div class="github-help-wanted">
  <h2>Help Wanted</h2>
  <p>Tackle a Github issue to participate in the Foundation community.</p>
  <hr>
  <ul class="cards-docs">
    <li class="card-docs">
      <i class="fi-star"></i> <span>Easy</span>
      <p>Flex grid column alignment classes missing breakpoints</p>
      <a href="#" class="button-docs expanded">View on Github</a>
    </li>
    <li class="card-docs">
      <i class="fi-star"></i> <span>Easy</span>
      <p>Flex grid column alignment classes missing breakpoints</p>
      <a href="#" class="button-docs expanded">View on Github</a>
    </li>
    <li class="card-docs">
      <i class="fi-star"></i> <span>Easy</span>
      <p>Flex grid column alignment classes missing breakpoints</p>
      <a href="#" class="button-docs expanded">View on Github</a>
    </li>
  </ul>
  <a href="#">View all Issues on Github</a>
</div>
