<div class="github-recent-activity">
  <h2>Recent Activity</h2>
  <p>Changes to this component on the Github repository.</p>
  <hr>
  <ul>
    <li>
      <img src="http://placehold.it/25x25" alt="Github Contributor">
      <a href="#">Jon Raleigh</a> pushed <span>7 commits</span>
      <span class="github-recent-activity-date">3 days ago</span>
    </li>
  </ul>
</div>
