<div id="github-recent-activity">
  <h2 id="recent-activity">Recent Activity</h2>
  <h5 class="subheader">Check out all changes to this component on the Github repository.</h5>

  <hr class="docs-hr-small">

  <div class="github-issues">

    <div class="github-issue">
      <a href="#" target="_blank"></a>
      <span class="github-issue-title">
        <div class="github-issue-avatar">
          <img src="https://github.com/zurbrandon.png?size=75" alt="Github Contributor"/>
        </div>
        <span class="github-issue-author">Brandon Arnold</span>
        <span class="github-issue-action">pushed 75 commits</span>
      </span>
      <span class="github-issue-subtitle">#1342 Flex grid column alignment</span>
    </div>

    <div class="github-issue">
      <a href="#" target="_blank"></a>
      <span class="github-issue-title">
        <div class="github-issue-avatar">
          <img src="https://github.com/nwittwer.png?size=75" alt="Github Contributor"/>
        </div>
        <span class="github-issue-author">Nick Wittwer</span>
        <span class="github-issue-action">pushed 5,032 commits</span>
      </span>
      <span class="github-issue-subtitle">#232 Flex grid column alignment</span>
    </div>

    <div class="github-issue">
      <a href="#" target="_blank"></a>
      <span class="github-issue-title">
        <div class="github-issue-avatar">
          <img src="https://github.com/MandiSaeteun.png?size=75" alt="Github Contributor"/>
        </div>
        <span class="github-issue-author">Mandi Saeteun</span>
        <span class="github-issue-action">pushed 34 commits</span>
      </span>
      <span class="github-issue-subtitle">#1342 Flex grid column alignment</span>
    </div>

    <div class="github-issue">
      <a href="#" target="_blank"></a>
      <span class="github-issue-title">
        <div class="github-issue-avatar">
          <img src="https://github.com/kball.png?size=75" alt="Github Contributor"/>
        </div>
        <span class="github-issue-author">Kevin Ball</span>
        <span class="github-issue-action">pushed 14 commits</span>
      </span>
      <span class="github-issue-subtitle">#1342 Flex grid column alignment</span>
    </div>

    <div class="github-issue">
      <a href="#" target="_blank"></a>
      <span class="github-issue-title">
        <div class="github-issue-avatar">
          <img src="https://github.com/rafibomb.png?size=75" alt="Github Contributor"/>
        </div>
        <span class="github-issue-author">Rafi Benkual</span>
        <span class="github-issue-action">pushed 100 commits</span>
      </span>
      <span class="github-issue-subtitle">#1342 Flex grid column alignment</span>
    </div>

    <a href="#" class="secondary button-docs">View all activity on Github</a>

  </div>

</div>
