<div class="github-recent-activity">
  <h2 id="recent-activity">Recent Activity</h2>
  <p>Changes to this component on the Github repository.</p>
  <hr>
  <ul>
    <li>
      <img src="http://placehold.it/25x25" alt="Github Contributor">
      <a href="#">Rafi Benkual</a> pushed <span>7 commits</span>
      <span class="github-recent-activity-date">3 days ago</span>
    </li>
    <li>
      <img src="http://placehold.it/25x25" alt="Github Contributor">
      <a href="#">Kevin Ball</a> pushed <span>1,000,000 commits</span>
      <span class="github-recent-activity-date">July 16</span>
    </li>
    <li>
      <img src="http://placehold.it/25x25" alt="Github Contributor">
      <a href="#">Brandon Arnold</a> pushed <span>5,000,000,000,000 commits</span>
      <span class="github-recent-activity-date">July 10</span>
    </li>
    <li>
      <img src="http://placehold.it/25x25" alt="Github Contributor">
      <a href="#">Mandi Saeteun</a> pushed <span>37 commits</span>
      <span class="github-recent-activity-date">July 4</span>
    </li>
    <li>
      <img src="http://placehold.it/25x25" alt="Github Contributor">
      <a href="#">Tim Hartwick</a> pushed <span>124 commits</span>
      <span class="github-recent-activity-date">July 7</span>
    </li>
  </ul>
  <a href="#">View all activity on Github</a>
</div>
