<div class="github-help-wanted">
  <h2 id="help-wanted">Help Wanted</h2>
  <h5 class="subheader">Tackle a Github issue and make yourself a part of Foundation community.</h5>

  <hr class="docs-hr-small">

  <div class="github-issues">

    <div class="github-issue">
      <a href="#" target="_blank"></a>
      <span class="github-issue-title">Flex grid column alignment classes missing breakpoints <span class="github-issue-tag easy"></span></span>
      <span class="github-issue-subtitle">#1414 by nwittwer</span>
    </div>

    <div class="github-issue">
      <a href="#" target="_blank"></a>
      <span class="github-issue-title">Make sure all emails are sent with a delay <span class="github-issue-tag intermediate"></span></span>
      <span class="github-issue-subtitle">#421 by mandimey</span>
    </div>

    <div class="github-issue">
      <a href="#" target="_blank"></a>
      <span class="github-issue-title">Alignment classes missing breakpoints <span class="github-issue-tag easy"></span></span>
      <span class="github-issue-subtitle">#112 by nwittwer</span>
    </div>

    <div class="github-issue">
      <a href="#" target="_blank"></a>
      <span class="github-issue-title">Flex grid column alignment classes missing breakpoints <span class="github-issue-tag challenging"></span></span>
      <span class="github-issue-subtitle">#132 by nwittwer</span>
    </div>

    <div class="github-issue">
      <a href="https://github.com/zurb/foundation-sites/issues/9124" target="_blank"></a>
      <span class="github-issue-title">[Slider] Wrong calculation of min-width of slider fill element on changing both handle values programmaticaly <span class="github-issue-tag challenging"></span></span>
      <span class="github-issue-subtitle">#9124 by Duskyman</span>
    </div>

    <a href="#" class="secondary button-docs">View all Issues on Github</a>

  </div>

</div>
