<div id="github-recent-activity">
  <h2 id="recent-activity">Recent Activity</h2>
  <h5 class="subheader">Check out all changes to this component on the Github repository.</h5>

  <hr class="docs-hr-small">

  <div class="github-issues" data-github-issues>
  </div>
  <a href="#" class="secondary button-docs">View all activity on Github</a>

</div>
