<div class="github-help-wanted">
  <h2 id="help-wanted">Help Wanted</h2>
  <p>Tackle a Github issue and make yourself a part of Foundation community.</p>

  <hr>

  <div class="">
    <span>Difficulty:</span>
    <span class="success badge">E</span>
    <span class="warning badge">M</span>
    <span class="alert badge">H</span>
  </div>

  <div class="">
    <div class="easy github-help-wanted-issue">
      <p>
        <a href="#">Flex grid column alignment classes missing breakpoints</a>
        <a href="#" class="github-help-wanted-issue-author">by nwittwer</a>
      </p>
    </div>

    <div class="medium github-help-wanted-issue">
      <p>
        <a href="#">Flex grid column alignment classes missing breakpoints</a>
        <a href="#" class="github-help-wanted-issue-author">by nwittwer</a>
      </p>
    </div>

    <div class="hard github-help-wanted-issue">
      <p>
        <a href="#">Flex grid column alignment classes missing breakpoints</a>
        <a href="#" class="github-help-wanted-issue-author">by nwittwer</a>
      </p>
    </div>
  </div>

  <a href="#">View all Issues on Github</a>

</div>
