<section class="docs docs-related row">
  <div class="medium-12 columns">
    <h2 id="related-resources">Related Resources</h2>
    <h4 class="subheader">Find out more about this component by exploring some related resources by 3rd parties.</h4>

    <div class="row">
      <div class="medium-12 large-4 columns">
        <h4>Tutorials</h4>
        <div class="docs-related-cover">
          <img src="http://zurb.com/playground/uploads/project/thumb/82/grid.jpg" alt="ZURB Tutorials and Lessons" />
        </div>

        <!--  Show this if no items:
        <div class="warning callout">
        <p>Want to submit a resource? <a href="#">We're taking ideas on GitHub</a>.</p>
        </div>
        -->

    <ul class="docs-list-links-info">
      <li>
        <h5>
          <a href="#">Using Motion UI to build better products</a>
        </h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </li>
      <li>
        <h5>
          <a href="#">Using Motion UI to build better products</a>
        </h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </li>
      <li>
        <h5>
          <a href="#">Using Motion UI to build better products</a>
        </h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </li>
    </ul>

  </div>

  <div class="medium-12 large-4 columns docs-stacked-spacing">
    <h4>Lessons</h4>
    <div class="docs-related-cover">
      <img src="http://zurb.com/playground/uploads/project/thumb/68/morse-thumbnail.jpg" alt="ZURB Playground" />
    </div>

    <!--  Show this if no items:
    <div class="warning callout">
    <p>Want to submit a resource? <a href="#">We're taking ideas on GitHub</a>.</p>
    </div>
    -->

<ul class="docs-list-links-info">
  <li>
    <h5>
      <a href="#">Using Motion UI to build better products</a>
    </h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </li>
  <li>
    <h5>
      <a href="#">Using Motion UI to build better products</a>
    </h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </li>
  <li>
    <h5>
      <a href="#">Using Motion UI to build better products</a>
    </h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </li>
  <li>
    <h5>
      <a href="#">Using Motion UI to build better products</a>
    </h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </li>
</ul>
</div>

<div class="medium-12 large-4 columns docs-stacked-spacing">
  <h4>Playground</h4>
  <div class="docs-related-cover">
    <img src="http://zurb.com/playground/uploads/project/thumb/94/thumb.jpg" alt="ZURB Playground" />
  </div>

  <!--  Show this if no items:
  <div class="warning callout">
  <p>Want to submit a resource? <a href="#">We're taking ideas on GitHub</a>.</p>
  </div>
  -->
  <ul class="docs-list-links-info">
    <li>
      <h5>
        <a href="#">Using Motion UI to build better products</a>
      </h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </li>
    <li>
      <h5>
        <a href="#">Using Motion UI to build better products</a>
      </h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </li>
  </ul>
</div>
</div>

</div>
</section>
