<div class="medium-3 large-2 medium-pull-9 large-pull-10 columns" >
  <div class="docs-sidebar">

    <div class="pin-list" data-pin-list>
      <div class="pin-list-item">
        <a href="">Loading pin...</a>
      </div>
    </div>

    <div class="pin-button" data-pin-page>
      Add Page to sidebar
      <!-- if isPinned -->
      <!-- x Remove from sidebar -->
      <!-- end if isPinned -->
    </div>

    <div class="docs-sidebar-label">PAGES</div>
    <span class="docs-sidebar-collapse-button">Collapse All</span>

    <ul class="vertical menu docs-nav" id="docs-menu">
      {{> component-list}}
    </ul>

  </div>
</div>
