<div class="medium-3 large-2 medium-pull-9 large-pull-10 columns" >
  <div class="docs-sidebar">

    <div class="pins-component">
      <div class="docs-sidebar-label">Pinned Pages</div>
      <div class="pin-list" data-pin-list>
          <p>Checking for pinned pages...</p>
      </div>

      <div class="pin-button" data-pin-page>
        &#43; Pin Page to sidebar
      </div>
    </div>


    <div class="align-middle">
      <div class="docs-sidebar-label">PAGES</div>
      <!-- @TODO: Add collapsible sidebar menu -->
      <!-- <span class="docs-sidebar-collapse-button">Collapse All</span> -->
    </div>

    <ul class="vertical menu docs-nav" id="docs-menu">
      {{> component-list}}
    </ul>

  </div>

  <div class="foundation-toc-ad-unit" id="TOCAdUnit">
  </div>

</div>
