<div class="medium-3 large-2 medium-pull-9 large-pull-10 columns" >
  <div class="docs-sidebar">
    <div class="docs-sidebar-label">PAGES</div>
    <div class="docs-sidebar-collapse-button">Collapse All</div>

    <div class="pin-list" data-pin-list>
      <div class="pin-list-item">
        <a href="">Loading pin...</a>
      </div>
    </div>

    <ul class="vertical menu docs-nav" id="docs-menu">
      {{> component-list}}
    </ul>
  </div>

</div>
