<div class="docs-video">
  <!-- Default state: button -->
  <div class="docs-video-trigger" data-toggle="docs-video-expanded">
    <strong>Watch Video</strong>
    <span>Learn how to do X</span> <!-- @TODO: Can we customize the subtitle for each manually? -->
  </div>
  <!-- When video button is clicked: -->
  <div class="docs-video-expanded" id="docs-video-expanded" data-toggler=".is-Visible">
    <div class="flex-video widescreen">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/UVLINsAuFEI" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</div>
