<article class="docs-component" id="docs-{{escape title}}">

  <a href="#docs-menu" class="small secondary expanded button hide-for-medium">Jump to Nav</a>

  {{> header}}

  <div class="row">
      {{> table-of-contents}}
  </div>

  <hr>

  {{!-- Start container for docs and table of contents --}}
  <div class="row">

    {{!-- Start container for docs --}}
    <div class="medium-12 columns" id="docs">

      {{ docs }}

      {{#if sass}}
      <hr>
      {{> sass-reference}}
      {{/if}}

      {{#if js}}
      <hr>
      {{> javascript-reference}}
      {{/if}}

      {{#if sass}}
      <!-- <hr> -->
      {{> building-blocks}}
      {{/if}}

      {{> github-recent-activity}}

    </div>
    {{!-- End container for docs --}}

  </div>
  {{!-- End container for docs and table of contents --}}

</article>
