<article class="docs-component" data-framework="{{global.framework.type}}" id="docs-{{escape title}}">

<a href="#docs-menu" class="small secondary expanded button hide-for-medium">Jump to Nav</a>

{{> header}}

<div class="row">
{{> table-of-contents}}
</div>

<hr>

{{!-- Start container for docs and table of contents --}}
<div class="row">

{{!-- Start container for docs --}}
<div class="medium-12 columns" id="docs">

{{ docs }}

{{#if sass}}
<hr>
{{> sass-reference}}
{{/if}}

{{#if js}}
<hr>
{{> javascript-reference}}
{{/if}}

{{!-- End container for docs --}}
</div>

<!-- NEW Inspiration component -->
<!-- @TODO: Need an if statement for when to show this -->
{{#if sass}}
<hr>
{{> inspiration}}
{{/if}}

<!-- Existing Building Blocks component -->
{{#if sass}}
<hr>
{{> building-blocks}}
{{/if}}

<!-- NEW Related Resources component -->
<!-- @TODO: Need an if statement for when to show this -->
{{#if sass}}
<hr>
{{> related-resources}}
{{/if}}
<!-- Github Help Wanted + Recent Activity -->
<!-- @TODO: Need an if statement for when to show this -->
{{#if relatedFiles}}
<hr>
<div class="row">
  <div class="medium-12 large-6 columns">
{{> github-help-wanted}}
  </div>
  <div class="medium-12 large-6 columns">
{{> github-recent-activity}}
  </div>
</div>
{{/if}}
<!-- End Github components -->

<!-- NEW Next/Previous pages links -->
<!--
@TODO: Need an if statement for when to show this
Maybe #if hasNext == true?
-->
<hr>

<div class="next-previous-links">
  <div class="previous-page-link">
    <span class="subtitle">PREVIOUS</span>
    <a href="#">Installation</a>
  </div>
  <div class="next-page-link">
    <span class="subtitle">NEXT</span>
    <a href="#">Buttons</a>
  </div>
</div>
<!-- END Next/Previous page links -->

</div>
{{#if relatedFiles}}
  {{!-- Awkward to put it here but supercollider is what knows about the files, so it has to happen here --}}
  {{setupSourceFiles relatedFiles}}
{{/if}}
{{!-- End container for docs and table of contents --}}
</article>
